# /node_modules/* and /bower_components/* ignored by default
*/node_modules/* 
*/server/node_modules/* 
# Ignore built files except build/index.js
*/dist/*
*/server/dist/*
*/static/*
**/public/*
**/src/assets
**/src/components/markdown/*
webpack.*
*/config/*